[project]
	description = Classifier Toolkit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chiragtayal (chiragtaken)
[access "refs/for/refs/*"]
	read = group user/chiragtayal (chiragtaken)
	push = group user/chiragtayal (chiragtaken)
	label-Code-Review = -2..+2 group user/chiragtayal (chiragtaken)
	label-Verified = -1..+1 group user/chiragtayal (chiragtaken)
	rebase = group user/chiragtayal (chiragtaken)
	removeReviewer = group user/chiragtayal (chiragtaken)
	submit = group user/chiragtayal (chiragtaken)
[access "refs/heads/*"]
	read = group user/chiragtayal (chiragtaken)
	create = group user/chiragtayal (chiragtaken)
	push = +force group user/chiragtayal (chiragtaken)
	pushMerge = group user/chiragtayal (chiragtaken)
[access "refs/tags/*"]
	push = +force group user/chiragtayal (chiragtaken)
	pushTag = group user/chiragtayal (chiragtaken)
	pushSignedTag = group user/chiragtayal (chiragtaken)
